main {
    font-family: Arial, sans-serif;
}

.google-logo {
    display: block;
    text-align: center;
    height: 233px;
    margin-top: 89px;
}

.imagem-logo {
    padding-top: 100px;
}

/* search bar implementation */

.full-search-box {
    width: 560px;
    height: 39px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    display: flex;
    margin: auto;
}

.full-search-box:hover {
    box-shadow: 0 1px 6px 0 rgba(32,33,36,0.28);
    border-color: rgba(223,225,229,0);
}

#lupa {
    vertical-align: auto;
    padding: 12px 5px 5px 10px;
    color: #9AA0A6;
}

#search-box {
    display: block;
    margin: auto;
    width: 80%;
    height: 34px;
    border: 0px none;
    margin-left: 0px;
    text-align: start;
    padding-left: 10px;
    
}

input#search-box:focus, textarea#search-box:focus, select#search-box:focus{
    outline: none;
}

#keyboard {
    vertical-align: auto;
    padding: 12px 10px 5px 10px;
    color: rgb(118, 128, 138);
}

#mic {
    height: 55%;
    padding: 9px 20px 10px 10px;
}

.caixa-pesquisa {
    display: block;
    text-align: center;
}


.botoes {
    display: flex;
    justify-content: center;
    padding-top: 18px;
    margin-bottom:15px;
}

.botao-pesquisa {
    font-size: 14px;    
    background-color: #f2f2f2;
    height: 36px;
    padding: 0 16px;
    margin: 11px 5px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color:  #5F6368;
}

.botao-sorte {
    font-size: 14px;    
    background-color: #f2f2f2;
    height: 36px;
    padding: 0 16px;
    margin: 11px 5px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
}

.botao-sorte:hover, .botao-pesquisa:hover {
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    
    background-color: #f8f8f8;
    border: 1px solid #c6c6c6;
    color: #222;
}

.information {
    font-size: 13px;
}

.information-link {
    display: block;
    text-align: center;
    text-decoration:none;
    
}

.information-link:hover {
    text-decoration: underline;
}