main {
    font-family: Arial, sans-serif;
}

.google-logo {
    display: block;
    text-align: center;
    height: 233px;
    margin-top: 89px;
}

.imagem-logo {
    padding-top: 100px;
}

.full-search-box {
    width: 560px;
    height: 39px;
    border: 1px solid #dfe1e5;
    border-radius: 20px;
    display: flex;
    margin: auto;
}

#lupa {
    vertical-align: auto;
    padding: 12px 5px 5px 10px;
    color: #9AA0A6;
}

#search-box {
    display: block;
    margin: auto;
    width: 40%;
    height: 34px;
    border: 0px none;
    margin-left: 0px;
    
}

input#search-box:focus {
    outline: none;
}

#keyboard {
    vertical-align: auto;
    padding: 12px 10px 5px 10px;
    color: rgb(118, 128, 138);
}

#mic {
    height: 55%;
    padding: 9px 20px 10px 10px;
}

.caixa-pesquisa {
    display: block;
    text-align: center;
}



.botoes {
    display: flex;
    justify-content: center;
}

.botao-pesquisa {
    font-size: 14px;    
    background-color: #f2f2f2;
    height: 36px;
    padding: 0 16px;
    margin: 11px 4px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color:  #5F6368;
}

.botao-sorte {
    font-size: 14px;    
    background-color: #f2f2f2;
    height: 36px;
    padding: 0 16px;
    margin: 11px 4px;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
}

.information {
    font-size: 13px;
}

.link-covid {
    display: block;
    text-align: center;
    
}

.frase-idioma {
    text-align: center;
}
